@font-face {
    font-family: geomSans;
    src: url(./fonts/Geom/Geom-Variable.ttf);
}
:root {
    --orange: #F59120;
    --white: #FFFFFA;
    --black: #666666;
}

body {
    color: var(--black);
    font-family: geomSans;
    font-weight: 500;
}

a {
    text-decoration: none;
    color: var(--black);
}
